.list-group-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.list-group-item .desc {
	font-size: 21px;
	cursor: pointer;
}

.list-group-item .done {
	text-decoration: line-through;
}

.list-group-item .important {
	color: tomato;
	font-weight: 800;
	font-size: 23px;
}


.list-group-item .control{

}

.list-group-item .control button{
	margin: 0 7px;
	width: 30px;
}

